<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

    <title>About</title>
</head>
<body>

    <% include ../partials/header %>

    <!-- main body -->
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="card">
                    <div class="card-title">Jacquelin Louis</div>
                    <p class="card_margin">
                        French<br/>
                        orn the 1 of march 1994 at Créteil (France)
                    </p>
                </div>
                <div class="card">
                    <div class="card-title">Education</div>
                    <p class="card_margin">
                        <span class="blue-text text-darken-2">2016-2018 : </span> specialization at EPITA in <strong>Multimedia and Information Technology</strong><br/>
                        <span class="blue-text text-darken-2">2012-2018 : </span> formation at <strong>EPITA</strong> Paris<br/>
                        <span class="blue-text text-darken-2">2015 : </span> semester on <strong>UQAC</strong>, Quebec University at Chicoutimi (multimedia, management, web)<br/>
                        <span class="blue-text text-darken-2">2012 : </span> <strong>scientific baccalauréat</strong> specialized on engineering sciences - mention fairly well<br/>
                    </p>
                </div>
                <div class="card">
                    <div class="card-title">Professional experiences and projects</div>
                    <ul class="card_margin">
                        <li><span class="blue-text text-darken-2">january 2016 - july 2018 : </span>PLIC (C#, Unity, Javascript)<br/>
                            Conception and development of a serious game based on the theme of Parisian public transports
                        </li>
                        <li><span class="blue-text text-darken-2">mai 2016 : </span>myPhotoshop (Java)<br/>
                            Creation of a picture edition application using the MVC design pattern
                        </li>
                        <li><span class="blue-text text-darken-2">march 2014 : </span>MP3 player (Androïd)<br/>
                            Application which is able to list all audio files on the device, allow user to organize them as playlists and play / pause / go to the next through a easy to use interface
                        </li>
                    </ul>
                    <br/>
                    <ul class="card_margin">
                        <li><span class="blue-text text-darken-2">september 2016 - january 2017 : </span>developer<br/>
                            Programmer for the BRED (French bank), to develop a JAVA app used to display historic events linked to a client contract
                        </li>
                        <li><span class="blue-text text-darken-2">jun - july 2015 : </span>research technician<br/>
                            Programmer for StreamMind Paris to design and develop an app able to import an Oracle MYSQL database as XML file and update an other from this file
                        </li>
                        <li><span class="blue-text text-darken-2">july - august 2014 : </span>seller and bookseller<br/>
                            At the FNAC Saint-Lazare (Paris)
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-title">Skill</div>
                        <ul class="card_margin">
                            <li>Programming : <strong>JAVA / JEE, C#, Javascript, Androïd, C++, C</strong></li>
                            <li>Development : Visual Studio and Unity3D, Androïd Studio, Intellij, Git (GitHub / BitBucket), Emacs and Vim, GCC and Clang</li>
                            <li>Project management : UML (MSVisio), Gantt graphs (MSProject), MindMapping</li>
                            <li></li>
                            <li>Linux : Ubuntu, FreeBSD, ArchLinux</li>
                            <li>Microsoft : from Windows 95 to 10</li>
                            <li></li>
                            <li>PC hardware maintenance</li>
                            <li><a href="https://github.com/JacquelinLouis">GitHub</a> and <a href="https://linkedin.com/in/jacquelin-louis-53aa83a8">Linkedin</a> accounts</li>
                        </ul>
                </div>
                <div class="card">
                    <div class="card-title">Languages</div>
                    <p class="card_margin">English (910 official TOEIC)</p>
                </div>
                <div class="card">
                    <div class="card-title">Hobbies</div>
                    <p class="card_margin">
                        Travels, climbing, diving (open water PADI) and swimming (8 years in club), athletics (sports studies)<br/>
                        Boat (coastal licence)
                    </p>
                </div>
            </div>
        </div>
    </main>

    <% include ../partials/footer %>

    <!-- Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
</body>
</html>