<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

    <title>Contact</title>
</head>
<body>

    <% include ../partials/header %>

    <!-- main body -->
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">

            </div>
        </div>
    </main>

    <% include ../partials/footer %>

    <!-- Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
</body>
</html>