<!DOCTYPE html>
<html lang="en">
    <head>

        <% include ../partials/head %>

        <title>Welcome</title>
    </head>
    <body>

        <% include ../partials/header %>

        <!-- main body -->
        <main>
            <div class="section no-pad-bot" id="index-banner">
                <div class="container">

                </div>
            </div>
        </main>

        <% include ../partials/footer %>

        <% include ../partials/foot %>

    </body>
</html>