<!DOCTYPE html>
<html lang="en">
    <head>

        <% include ../partials/head %>

        <title>Not found</title>
    </head>
    <body>

        <% include ../partials/header %>

        <main>
            <div class="center-align">
                <p class="biggest">Oops !</p>
                <p>This page doesn't seem to exist, are you sure about what you'r doing ?</p>
                <p>It may have been falling into the void ?!</p>
            </div>
        </main>

        <% include ../partials/footer %>

        <% include ../partials/foot %>

    </body>
</html>