<!DOCTYPE html>
<html lang="en">
<head>

    <% include ../partials/head %>

    <title>Working</title>
</head>
<body>

    <% include ../partials/header %>

    <!-- main body -->
    <main>
        <div class="center-align">
            </br>
            <img class="middle" src="../resources/pictures/work-in-progress.png" alt="Work in progress">
            <p>Hey ! It seems you found a page on which i'm currently working !</p>
            <p>Sorry but you can't already see this page for the moment.</p>
            <p>But let's drink a beer ! And see you later !</p>
        </div>
    </main>

    <% include ../partials/footer %>

    <!-- Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/init.js"></script>
</body>
</html>